# Airflow
AIRFLOW_UID=50000
AIRFLOW_PROJ_DIR=.
_AIRFLOW_WWW_USER_USERNAME=airflow
_AIRFLOW_WWW_USER_PASSWORD=airflow

# ClickHouse
CLICKHOUSE_HOST=clickhouse
CLICKHOUSE_PORT=9000
CLICKHOUSE_DB=medallion
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=

# OpenWeather API
OPENWEATHER_API_KEY=your_api_key_here

# NiFi
NIFI_USERNAME=admin
NIFI_PASSWORD=adminadminadmin